<div class="signup d-flex align-items-center justify-content-center">
    <div class="sign-form">
        <div class="m-4">
            <h2><%= image_tag("/logo.png", size: "70x40", alt: "Homepage") %> Edit <%= resource_name.to_s.humanize %></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
                <div class="media mb-3">
                    <%= image_tag resource.avatar_thumbnail, class: "avatar mr-3", id:"avatar-img" %>
                    <div class="align-self-center media-body">
                        <%= f.input :avatar %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <%= f.input :username, required: true, autofocus: true, input_html: { autocomplete: "username" }  %>
                    </div>
                    <div class="col-sm">
                        <%= f.input :email, required: true, input_html: { autocomplete: "email" }  %>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                        <% end %>
                    </div>
                </div>

                <%= f.input :bio %>

                <div class="row">
                    <div class="col-sm">
                        <%= f.input :password, label: "New password",
                            hint: "leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                    </div>
                    <div class="col-sm">
                        <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                    </div>

                </div>
                <%= f.input :current_password,
                            hint: "we need your current password to confirm your changes",
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions">
                <%= f.button :submit, "Update", class:"btn btn-primary btn-block" %>
            </div>
            <% end %>
            <hr>
            <h3>Verify my account</h3>
                <% if current_user.verification %>
                    <div class="form-group">
                    <label for="apikey">api key</label>
                    <input type="text" id="apikey" class="form-control" value="<%= current_user.secretkey %>" disabled>
                    </div>
                    <button class="btn btn-warning"> Remove Verified </button>
                <% else %>
                    <button class="btn btn-primary"> Get Verified </button>
                <% end %>
            <hr>
            <h3>Cancel my account</h3>

            <div class="d-flex flex-wrap justify-content-between">
              <div class="align-self-center"> Unhappy? </div>
            <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
            </div>
            <%= link_to "Back", :back %>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#avatar-img').attr('src', e.target.result );
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#user_avatar").change(function() {
        readURL(this);
    });
</script>