<div class="signup d-flex align-items-center justify-content-center">
    <div class="sign-form">
        <div class="m-4">
            <h2><%= image_tag("/logo.png", size: "70x40", alt: "Homepage") %> Edit <%= resource_name.to_s.humanize %></h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>


            <div class="form-group">
                <%= image_tag resource.avatar_thumbnail, class: "avatar"%>
                <%= f.file_field :avatar, class: "form-control-file" %>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= f.label :username %>
                    <%= f.text_field :username, class: "form-control" %>
                </div>

                <div class="form-group col-md-6">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <small class="form-text text-muted">
                        Currently waiting confirmation for: <%= resource.unconfirmed_email %></small>
                    <% end %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :birthday %>
                <%= f.date_field :birthday, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <small class="text-muted">
                    (leave blank if you don't want to change it)</small>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    <%= @minimum_password_length %> characters minimum</small>
                <% end %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :current_password %> <small class="text-muted">(we need your current password to confirm your changes)</small>
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>



            <div class="actions">
                <%= f.submit "Update", class:"btn btn-primary" %>
            </div>
            <% end %>

            <h3>Delete my account</h3>

            <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>

            <%= link_to "Back", :back %>
        </div>
    </div>
</div>