<div class="pt-3">
<div class="card">
    <div class="card-body">
        <div class="media">
            <%= image_tag @user.avatar_thumbnail, class:"avatar mr-3" %>
            <div class="media-body">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <h3 class="mt-0"> <%= @user.username %> </h3>
                    </div>
                    <% if user_signed_in? && @user != current_user %>
                    <br>
                    <div>
                        <% if !@user.admin %>
                        <% if current_user.admin %>
                        <button class="btn btn-danger mr-2"> <div class="delete-icon"> </div> </button>
                        <% else %>
                        <button class="btn btn-danger mr-2"> <div class="flag-icon"></div> </button>
                        <% end %>
                        <% end %>
                        <button class="btn btn-success mr-2"><div class="chat-icon"> </div> </button>
                         <button class="btn btn-primary"> 
                        <% if ! current_user.isFollowing(@user) %>
                           <div class="follow-icon"> </div> Follow 
                        <% else %>
                            <div class="unfollow-icon"> </div> Unollow
                        <% end %>
                        </button>
                    </div>
                    <% end %>
                </div>
                <%= @user.followers %> followers <%= @user.following %> following <br>
                <%= @user.bio %>
            </div>
        </div>
    </div>
</div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Events</h3>
        <% @events.each do |event| %>
        <div class="card">
            <div class="card-body">
                <%= event.title %>
                <%= link_to "Show",event_path(event) %>
            </div>
        </div>
        <% end %>
        <% if @events.empty? %>
        <span class="text-muted"> This user has no events yet </span>
        <%end%>
    </div>
</div>