<%= javascript_include_tag "follows" %>
<div class="card">
    <div class="card-body">
        <div class="media">
            <%= image_tag @user.avatar_thumbnail, class:"avatar mr-3" %>
            <div class="media-body">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <h3 class="mt-0"> <%= @user.username %>
                        <div class="<%= @user.verificationIcon %>" style="vertical-align: middle;"></div>
                        </h3>
                    </div>
                    <% if user_signed_in? && @user != current_user %>
                        <br>
                        <div>
                        <% if !@user.admin %>
                            <% if current_user.admin %>
                                <button class="btn btn-danger mr-2"> <div class="delete-icon"> </div> </button>
                            <% else %>
                                <button class="btn btn-danger mr-2" onclick="flag('user','<%= @user.id %>')"> <div class="flag-icon"></div> </button>
                            <% end %>
                        <% end %>
                        <%= button_to( chats_path, method: :post, params: { chat: { user_id: @user.id }},
                                    form_class: "d-inline-block", class:"btn btn-success mr-2" ) do %>
                            <div class="chat-icon"> </div>
                        <% end %>
                            <% if ! current_user.isFollowing(@user) %>

                                <%= button_to( user_follows_path(@user), method: :post, 
                                    form_class: "d-inline-block", class:"btn btn-primary" ) do %>
                                     <div class="follow-icon"> </div> Follow 
                                <% end %>
                              
                            <% else %>
                                <%= button_to( user_follow_path(@user,getFollowingId(current_user,@user)), method: :delete, 
                                    form_class: "d-inline-block", class:"btn btn-primary" ) do %>
                                    <div class="unfollow-icon"> </div> Unfollow
                                <% end %>
                            <% end %>
                            </button>

                        </div>
                    <% end %>
                </div>
                <a style="cursor: pointer;" onclick="return openFollowers('<%= user_follows_path(@user) %>','follower');">
                    <strong><%= @user.followers %></strong> followers </a>
                ·
                <a style="cursor: pointer;" onclick="return openFollowers('<%= user_follows_path(@user) %>','following');"> 
                    <strong><%= @user.following %></strong> following  </a> <br>
                <%= @user.bio %>
            </div>
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Events</h3>
        <div class="card-deck">
        <% @events.each do |event| %>
        <div class="card mt-3 card-event hover-info" style="min-height: 30vh" >
                <div id="cover" class="cover-bg-blur" style="background-image: url(<%=rails_blob_url( event.cover) %>)"></div>
                <div id="cover-noblur" class="cover-bg" style="background-image: url(<%=rails_blob_url( event.cover) %>)"></div>
            <div class="card-body">
                <%= link_to( event_path(event) ) do %>
                <%= event.title %>
                <%end%>
                <div class="extra-info">
                     <%= event.start.strftime("%e %B %Y, %H:%M") %> - <%= event.end.strftime("%e %B %Y, %H:%M")%> <br>
                     <%= event.where %>
                </div>
            </div>
        </div>
        <% end %>
        </div>
        <% if @events.empty? %>
        <span class="text-muted"> This user has no events yet </span>
        <%end%>
    </div>
</div>