<div class="login d-flex align-items-center justify-content-center">
    <div class="sign-form">
        <div class="m-4">
            <h2><%= image_tag("/logo.png", size: "70x40", alt: "Homepage") %>Change your password</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
                <%= f.label :password, "New password" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    (<%= @minimum_password_length %> characters minimum)</small>
                <% end %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, "Confirm new password" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="actions">
                <%= f.submit "Change my password", class: "btn btn-primary btn-block"%>
            </div>
            <% end %>
            <hr>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>