<div class="card chats">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-3">
                <%= render partial: 'chats' %>
            </div>

            <div class="col d-flex flex-column border-left">
                <h2>
                    <%= image_tag receiver(@chat).avatar_thumbnail, class:"avatar align-self-center comments-avatar mr-3" %>
                    <%= link_to receiver(@chat).username, user_path(receiver(@chat)) %>
                    <div class="<%= receiver(@chat).verificationIcon %>" style="vertical-align: middle;"></div>
                </h2>

                <div id="chat-view" class="chat d-flex flex-column" data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>" data-user-id="<%= current_user.id %>">
                    <% @messages.each do |message| %>
                    <div class="<%= getAlignment(message.user) %> mb-3 mr-1">
                        <div class="comment">
                            <p class="mb-1"> <%= message.content %> </p>
                            <div class="text-right">
                                <small class="text-muted" data-role="message-date"><%= JSON.parse(message.created_at.to_json) %></small>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>

                <div class="mt-auto">
                    <%= simple_form_for Message.new, url: chat_messages_path(@chat), remote: true  do |form| %>
                    <div class="input-group">
                        <%= form.input :content, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: { autocomplete: "off" } %>
                        <div class="input-group-append">
                            <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $("#new_message").bind("ajax:complete", function(event, xhr, status) {
        $('#message_content').val('');
    })
</script>


<div class="d-none" data-role="message-template">
    <div class="mb-3 mr-1">
        <div class="comment">
            <p class="mb-1" data-role="message-text"></p>
            <div class="text-right">
                <small class="text-muted" data-role="message-date"></small>
            </div>
        </div>
    </div>
</div>