<img class="card w-100" src="<%= image_path("logowbg.png") %>">

<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title"> About Us </h5>
        <p>Acara is a passion project from a fervent group of students!</p>
        <p>Acara allows to search for, create, participate and comment on events from all over the world, connecting people like never before!</p>
        <p>Make new friends throught our chats, feed your interestes with our events and find new experiences of a lifetime!</p>
    </div>
</div>

<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title"> Meet our Team </h5>
        <div class="d-flex flex-wrap flex-sm-row flex-column">
            <div class="my-2 col">
                <div class="card">
                    <img src="https://avatars1.githubusercontent.com/u/35846576?s=460&u=b30d42dde33696c7fd5d81c71dcf44faaba028b0&v=4" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"> Juan Sebastian Arboleda </h5>
                        UI and Security
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-block btn-primary" href="https://github.com/AlZeck">
                            <div class="git-icon"></div>
                            Github
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-2 col">
                <div class="card">
                    <img src="https://avatars3.githubusercontent.com/u/61871077?s=400&v=4" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"> Andrea Cerone </h5>
                        API and Testing
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-block btn-primary" href="https://github.com/andrea-cerone">
                            <div class="git-icon"></div>
                            Github
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-2 col">
                <div class="card">
                    <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/61872024?s=460&amp;u=759cfb8ac9427deb94f9b3547373ab84778547a3&amp;v=4">
                    <div class="card-body">
                        <h5 class="card-title"> Matteo Di Stadio </h5>
                        Models and Controllers
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-block btn-primary" href="https://github.com/matteo-ds">
                            <div class="git-icon"></div>
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="contact-us">
    <div class="card-body">
        <h5 class="card-title"> Contact Us </h5>
        You can <a href="mailto:team@acara.com">send us an email</a> or, if you're logged in, you can contact us throught direct messages to our admin's accounts: 
        <div class="d-flex flex-wrap justify-content-center">
            <% @admins.each do |user| %>
                <%= link_to user_path(user) do %>
                <div class="card mx-3 my-3" style="max-width:150px;min-width:150px;">
                    <div class="card-body" style="text-align: center;">
                    <%= image_tag user.avatar_thumbnail, class:"avatar mb-3" %><BR>
                    <%= user.username %>
                    <div class="<%= user.verificationIcon %>" style="vertical-align: middle;"></div>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>
        <% if @admins.empty? %>
        <span class="text-muted"> OPS, it looks like there's no available admin account at the moment </span>
        <%end%>
    </div>
</div>