<% if !@hasGL %> <%= javascript_include_tag "getGL" %> <% end %>


<% if @risposta[:type] == "events" %>
    <%= render partial: 'filters' %>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Events</h3>
            <div class="d-flex flex-wrap flex-sm-row flex-column">
                <% @risposta[:content].each do |event| %>
                <div class="col-sm-6 my-3">
                    <div class="card card-event hover-info" style="min-height: 30vh">
                        <div id="cover" class="cover-bg-blur" style="background-image: url(<%=rails_blob_url( event.cover) %>)"></div>
                        <div id="cover-noblur" class="cover-bg" style="background-image: url(<%=rails_blob_url( event.cover) %>)"></div>
                        <div class="card-body">
                            <%= link_to( event_path(event) ) do %>
                            <%= event.title %>
                            <%end%>
                            <div class="extra-info">
                                <%= event.start.strftime("%e %B %Y, %H:%M") %> - <%= event.end.strftime("%e %B %Y, %H:%M")%> <br>
                                <%= event.where %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <% if @risposta[:content].empty? %>
            <span class="text-muted"> There are no events found </span>
            <%end%>
        </div>
    </div>
<% elsif @risposta[:type] == "users" %>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Users</h3>
            <div class="d-flex flex-wrap justify-content-center">
                <% @risposta[:content].each do |user| %>
                    <%= link_to user_path(user) do %>
                    <div class="card mx-3 mb-3" style="max-width:150px;min-width:150px;">
                        <div class="card-body" style="text-align: center;">
                        <%= image_tag user.avatar_thumbnail, class:"avatar mb-3" %><BR>
                        <%= user.username %>
                        <div class="<%= user.verificationIcon %>" style="vertical-align: middle;"></div>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
            <% if @risposta[:content].empty? %>
            <span class="text-muted"> There are no users found </span>
            <%end%>
        </div>
    </div>
<% else %>
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">Similar Tags</h3>
            <div class="d-flex flex-wrap flex-sm-row flex-column">
            <% @risposta[:content][:tags].each do |tag| %>
                <div class="d-flex p-3 col-sm-6 align-items-center">
                    <%= tag.name %>
                    <% if user_signed_in? %>
                        <% if !current_user.followsTag?(tag) %>
                            <%= button_to( tags_path, params: { follows_tag: { tag_id: tag.id } }, 
                                method: :post, form_class: "d-inline-block ml-auto", class: "btn btn-primary" ) do %>
                                Follow
                            <% end %>
                        <% else %>
                            <%= button_to( tag_path(tag), method: :delete, form_class: "d-inline-block ml-auto", 
                                            class:"btn btn-danger" ) do %>
                                Unfollow
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
    <%= render partial: 'filters' %>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"> Events </h3>
            <div class="d-flex flex-wrap flex-sm-row flex-column">
                <% @risposta[:content][:events].each do |event| %>
                <div class="col-sm-6 my-3">
                    <div class="card card-event hover-info" style="min-height: 30vh">
                        <div id="cover" class="cover-bg-blur" style="background-image: url(<%=rails_blob_url( event.cover) %>)"></div>
                        <div id="cover-noblur" class="cover-bg" style="background-image: url(<%=rails_blob_url( event.cover) %>)"></div>
                        <div class="card-body">
                            <%= link_to( event_path(event) ) do %>
                            <%= event.title %>
                            <%end%>
                            <div class="extra-info">
                                <%= event.start.strftime("%e %B %Y, %H:%M") %> - <%= event.end.strftime("%e %B %Y, %H:%M")%> <br>
                                <%= event.where %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <% if @risposta[:content][:events].empty? %>
            <span class="text-muted"> There are no events found </span>
            <%end%>
        </div>
    </div>
<% end %>