<!-- @followers
     @following
     @tags -->
<button type="button" class="close mt-3 mr-3" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
<ul class="nav nav-pills my-3 justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-follower-tab" data-toggle="pill" href="#pills-follower" role="tab" aria-controls="pills-follower" aria-selected="true">Followers</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-following-tab" data-toggle="pill" href="#pills-following" role="tab" aria-controls="pills-following" aria-selected="false">Following</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-tag-tab" data-toggle="pill" href="#pills-tag" role="tab" aria-controls="pills-tag" aria-selected="false">Tags</a>
  </li>
</ul>

<div class="tab-content border-top" id="pills-tabContent" style="overflow: auto; height: 426px;">
  <div class="tab-pane fade show active" id="pills-follower" role="tabpanel" aria-labelledby="pills-follower-tab">
    <% if @followers.length > 0 %>
      <% @followers.each do |f| %>
          <div class="pl-4 py-3 border-bottom">
          <%= link_to(user_path(f.follower))  do%>
          <%= image_tag f.follower.avatar_thumbnail, class:"avatar align-self-center navbar-avatar mr-3" %>
          <%= f.follower.username %>
          <div class="<%= f.follower.verificationIcon %>"></div>
          <% end %>
          </div>
      <% end %>
    <% else %>
      <div align="center">
        This user has no followers yet
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-following" role="tabpanel" aria-labelledby="pills-following-tab">
    <% if @following.length > 0 %>
      <% @following.each do |f| %>
        <div class="pl-4 py-3 border-bottom">
        <%= link_to(user_path(f.followed)) do%>
        <%= image_tag f.followed.avatar_thumbnail, class:"avatar align-self-center navbar-avatar mr-3" %>
        <%= f.followed.username %>
        <div class="<%= f.followed.verificationIcon %>"></div>
        <% end %>
        </div>
      <% end %>
    <% else %>
      <div align="center">
        This user is not following anyone yet
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-tag" role="tabpanel" aria-labelledby="pills-tag-tab">
    <% if @tags.length > 0 %>
      <% @tags.each do |t| %>
        <div class="pl-4 py-3 border-bottom">
        <%= link_to(search_path(q: "#{t.tag.name}")) do%>
        <%= t.tag.name %>
        <% end %>
        </div>
      <% end %>
    <% else %>
      <div align="center">
        This user is not following any tag yet
      </div>
    <% end %>
  </div>
</div>
