<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <%= image_tag("/logo.png", size: "70x40", alt: "Homepage") %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline w-75 mx-auto my-2 my-lg-0" action="<%= search_path %>" method="get">
                <input name="q" class="form-control w-100 navbar-search" placeholder="Search" aria-label="Search">
                <button class="btn btn-search" type="submit"><div class="search-icon"></div></button>
            </form>

            <ul class="navbar-nav">
                <% if current_user %>
                <li class="nav-item active mr-2">
                    <%= link_to( new_event_path, class: "nav-link") do%>
                    <div class="new-event-icon"></div>
                    <% end %>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= image_tag current_user.avatar_thumbnail, class:"avatar navbar-avatar" %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <%= link_to 'My Profile', user_path(current_user), class: "dropdown-item"%>
                        <%= link_to 'Chats', chats_path, class: "dropdown-item"%>
                        <% if current_user.admin? %>
                        <%= link_to 'Dashboard', Trestle.config.path , class: "dropdown-item"%>
                        <% end %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item"%>
                        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item"%>
                    </div>
                </li>
                <% else %>
                <li class="nav-item active">
                    <%= link_to 'Log In', new_user_session_path, class: "nav-link"%>
                </li>
                <li class="nav-item active">
                    <%= link_to 'Sign up', new_user_registration_path, class: "nav-link"%>
                </li>
                <% end %>
                <li class="nav-item active">
                    <button class="btn nav-link" id="themeUpdater" onclick="return updateColor();">
                        <div class="lightbulb-icon"> </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>