<!DOCTYPE html>
<html>

<head>
    <title>Acara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>

</head>

<body>
    <%= render('layouts/navbar') if has_navbar %>
    <%= render('layouts/modals') %>
    <!--   <%= render 'layouts/alerts'%> -->
    <div id="pageContent" class="<%= 'container container-body' if has_navbar %>">
        <%= yield %>
    </div>
    <%= render('layouts/footer') if has_navbar %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "popper.js.js" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "dark-mode" %>
    <%= javascript_include_tag "modal-comms" %>
    <% if has_maps %>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <%= javascript_include_tag "maps" %>
    <% end %>
</body>

</html>